%h1 About
%p
  I've dedicated this website to my reflections on philosophy in practice in business and in life. I am one of the founders of 
  =link_to "RateMyStudyAbroad.com", "http://ratemystudyabroad.com/"
  , an independent website for student reviews of study abroad programs. I spent one year living in an internet-free cottage owned by my father in Baltimore County reading philosophy and literature beginning with Homer and the Pre-Socratic philosophers.  In Fall of 2013 I plan to study for a masters in philosophy in Berlin.

= link_to 'test', 'http://google.com', :class => 'test'


