<h1>Nicht eure Suende - eure Genuegsamkeit schreit gen Himmel, euer Geiz selbst in eurer Suende schreit gen Himmer!</h1>

<%= link_to "henryblog", posts_path %>
<% (1..100).each do |x| %>
	<%= x %>
<% end %>